html{
    background-color: #110939;
}
span{
    color: black;
}
.card {
    position: center;
    left: 0px;
    top: 0px;
    width: 80vw;
    height: 75vh;
    border-radius: 25px;
    border: 5px solid #62faff;
    background: #f0e68c;
    background-blend-mode: normal;
}
.bar {
    position: relative;
    left: 0px;
    top: 0px;
    width: 80vw;
    height: 10vh;
    border-radius: 25px;
    border: 5px solid #62faff;
    background: #f0e68c;
    background-blend-mode: normal;
}
#remote-video {
    position: center left;
    left: 0px;
    top: 0px;
    width: 80vw;
    height: 75vh;
    transform: translate(-50%, -50%);
    border: black;
  }
  #end-call {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
    margin: 16px;
  }